.paginate {
  display: flex;
  .page-button {
    padding: 0.5rem 1rem;
    border: 1px solid gainsboro;
  }
  .page-button:last-child {
    border-radius: 0 5px 5px 0;
    border-left: none;
    width: 80px;
  }

  .page-button:first-child {
    border-radius: 5px 0 0 5px;
    border-right: none;
    width: 80px;
  }
}

.activePaginationBtn {
  color: #fff;
  background-color: #ff4747;
}
