*{
  font-size: 13px;
}

main.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: #3d3d3de1;
  display: grid;
  place-items: center;
  padding: 20px;
  .btn-next{
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 500px);

    button{
      cursor: pointer;
      border-radius: 50px;
      outline: none;
      border: none;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;


      &:nth-child(1){
        margin-left: -70px;
      }

      &:nth-child(2){
        margin-right: -70px;
      }
    }
  }
  &::after {
    content: "";
    height: 20px;
    width: 20px;
  }


  .container {
    width: 75vw;

    .grid {
      display: grid;
      grid-template-rows: 40px 1fr;


      .grid-title {
        grid-row: 1/2;

        display: flex;
        justify-content: space-between;

        .title {
          margin-left: -2.3rem;
          margin-top: 0.5rem;

          label {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.1rem 1rem;
            background-color: #ff4747;
            color: white;
            height: 35px;
            border-radius: 50px;

            span {
              margin-right: 5px;
              font-size: 20px;
            }
          }
        }

        .btn-close {
          margin-top: -0.5rem;

          button {
            cursor: pointer;
            background: none;
            border: none;
            color: #ff4747;
            outline: none;
            span{
              font-size: 20px;
              font-weight: 900;
            }
          }
        }
      }

      .grid-scroll {
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 200px auto;
        position: relative;

        .grid-info {
          grid-row: 1/2;
          position: relative;
          display: flex;

          .infor-invoice {

            .item {
              display: flex;
              margin-bottom: 0.3rem;
              font-size: 13px;
              input {
                resize: none;
                outline: none;
                border: none;
                width: 570px;
              }

              .item-label {
                width: 150px;
              }

              .c-name{
                height: 15px !important;
              }

            }

            .inno{
              color: #505050;
             font-size: 16px !important;
             margin-top: 1rem;

             label{
               font-weight: bold;
             }
              span{
                font-weight: bold;
                font-size: 16px;

              }
            }
          }

          .cancel-detail{
            margin-top: 1rem;
            label{
              font-weight: bold;
              font-size: 16px;
            }
            .cancel-item{
              margin-top: 0.3rem;
              display: flex;
              font-size: 13px;
              .label-item{

                width: 130px;
                label{
                  font-weight: normal;
                  font-size: 13px;
                }
              }
            }
          }



          .btn-cancel {
            position: absolute;
            right: 0;
            bottom: 1rem;
            display: flex;

            button {
              margin-right: 10px;
              display: flex;
              align-items: center;
              padding: 5px;
              color: white;
              cursor: pointer;
              border-radius: 3px;
              height: 35px;

              &:nth-child(1){
                background: #446a81;
                padding: 0 20px;
              }

              &:nth-child(2){
                background: #eb543a;
                padding: 0 20px;
                margin: 0;
              }

              span {
                font-size: 20px;
                margin-right: 5px;
              }
            }

            .dis-active {
              display: none;
            }
          }
        }

        table {
          margin-top: 1rem;
          margin-bottom: 1.5rem;
          tr{
            th{
              background: white ;
              position: static;
              font-weight: 500;
            }
          }

          th,
          td {
            padding: 5px 0;

          }

          th:nth-child(1),
          td:nth-child(1) {
            min-width: 40px;
            text-align: center;
          }

          th:nth-child(2),
          td:nth-child(2) {
            text-align: start;
            min-width: 300px;
            padding: 0 5px;
          }

          th:nth-child(3),
          td:nth-child(3) {
            min-width: 120px;
          }

          th:nth-child(4),
          td:nth-child(4) {
            min-width: 40px;
            text-align: center;
          }

          th:nth-child(5),
          td:nth-child(5) {
            min-width: 130px;
          }

          th:nth-child(7),
          td:nth-child(7) {
           min-width: 150px;
            text-align: end;
            padding: 0 5px;

            min-width: 100px ;
          }

          th:nth-child(3),
          td:nth-child(3) {
            text-align: end;
            padding: 0 5px;
          }

          th:nth-child(6),
          td:nth-child(6) {
            min-width: 40px;
            text-align: center;
            .btn-seemore {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              button {
                border-radius: 3px;
                padding: 3px;
                cursor: pointer;
                width: 80px;
              }

              .dis-active {
                display: none;
              }

              .active-list {
                display: block;
              }

              .active-list {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              }
            }
          }
          .total, .tax, .discount, .charge, .shipping-cost, .grand-total, .total-received, .cash, .bank, .change-amount {
            td{
              text-align: right;
            }
            td:first-child{
              border-right: #eee solid 1px;
              padding-right: 10px;
            }
          }
        }

        table, th, td {
          border: 1px solid #f1f1f1 ;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
        }
        th {
          text-align: left;
        }

        .text-center{
          text-align: center;
        }

        .grand-total {
          // background-color: #d2d6de;
          p{
          font-weight: bold;
            font-size: 14px;
          }
          td{
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
          }
        }
      }

      .grid-scroll::-webkit-scrollbar {
        width: 2px;
        background: gainsboro;
      }
    }
  }
}

