<main class="modal modal-brand">
  <div class="container">

    <header>
      <label>
        <span class="material-icons">
          supervisor_account
        </span>
        Sizes
      </label>
      <div class="wrap wrap-btn">
        <a class="btn btn-close" (click)="closeEvent.next(true)">
          <span class="material-icons">
            close
          </span>
        </a>
      </div>
    </header>
    <fieldset>
      <legend>
        <strong>
          <h3>Available Size</h3>
        </strong>
      </legend>
      <div class="layout layout-search">
        <div class="wrapper wrapper-add">
          <div class="wrap wrap-input">
            <input type="text" placeholder="New Size ..." [(ngModel)]="newValue">
          </div>
          <div class="wrap wrap-btn">
            <button class="btn btn-add" (click)="addNewFunc()">
              ADD
            </button>
          </div>
        </div>

        <div class="wrapper wrapper-filter">
          <div class="wrap wrap-input">
            <input type="text" placeholder="Filter..." [(ngModel)]="filterValue">
          </div>
        </div>
      </div>

      <div class="layout layout-table">
        <div class="table table-wrapper">
          <table>
            <colgroup>
              <col span="1" style="width: 30%;">
              <col span="1" style="width: 70%;">
            </colgroup>
            <thead>
              <tr>
                <th>
                  <strong>
                    <p>Size ID</p>
                  </strong>
                </th>
                <th>
                  <strong>
                    <p>Size Name</p>
                  </strong>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="getItemsFunc().length > 0">
                <ng-container *ngFor="let item of getItemsFunc()">
                  <tr (click)="selectItemFunc(item)">
                    <td class="id">
                      <p>{{item.variantId}}</p>
                    </td>
                    <td class="name">
                      <p>{{item.variantValue}}</p>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  </div>
</main>
