<div class="modal-container">
  <div class="card">
    <div class="option">
      <div class="title">
        <label for="">
          <span class="material-icons"> add </span>
          Add New User
        </label>
      </div>

      <button class="btn-close btn btn-success animation-ripple" (click)="changePageFunc(0)">
        <span class="material-icons"> close </span>
      </button>
    </div>

    <div class="content-warpper">
      <div class="grid-l">
        <div class="grid-l-content">
          <div class="item-group">
            <label for="">Image</label>
            <div class="img-item">
              <img src="" alt="img" />
              <span style="font-size: 120px" class="material-icons" >
                panorama
              </span>
              <div class="form-group">
                <input type="file" id="file" />
              </div>
            </div>
          </div>

          <div class="item-group">
            <label for="">User&nbsp;ID</label>
            <input type="text" value="0" readonly style="background-color: rgb(153, 153, 153)" />
          </div>

          <div class="item-group">
            <label for="">First&nbsp;Name</label>
            <input type="text" />
          </div>

          <div class="item-group">
            <label for="">Last&nbsp;Name</label>
            <input type="text" />
          </div>

          <div class="item-group">
            <label for="">Contact&nbsp;Number</label>
            <input type="text" />
          </div>

          <div class="item-group">
            <label for="">Role</label>
            <input type="text"  />
          </div>

          <div class="item-group packer">

            <label class="chk-container">Packer
              <input type="checkbox">
              <span class="chk-checkmark"></span>
            </label>


            <label class="chk-container">Deliver
              <input type="checkbox" >
              <span class="chk-checkmark"></span>
            </label>

          </div>

          <div class="item-group">
            <label for="">User&nbsp;Name</label>
            <input type="text" />
          </div>

          <div class="item-group">

            <div class="input-group">
              <label for="">Password</label>
              <input class="hiden" type="password" />
              <button >
                <span class="material-icons"> visibility </span>
              </button>

              <input />
              <button>
                <span class="material-icons"> visibility_off </span>
              </button>
            </div>

          </div>
        </div>
      </div>

      <div class="grid-r">
        <div class="grid-r-content">
          <div class="gird-option">
            <label for="">
              <span class="material-icons"> lock_open </span>
              Permissions
            </label>

            <button class="btn btn-success animation-ripple" >
              <span class="material-icons"> save </span>
              Save
            </button>
          </div>

          <div class="role-item" >
            <div class="role-group">
              <input type="checkbox" id="all" name="all" value="all" />
              <label for="all">Select All</label><br />
            </div>
            <ng-container >
              <div class="role-group">
                <input type="checkbox"  />
                <label>dsfsdf</label><br />
              </div>

              <div class="role-sub">
                <input type="checkbox" />
                <label for="">sadasd</label><br />
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
